html {
	background-color: #000;
	color: #fff;
}

#N1 {height:auto;background-color: red;}
#N2 {height:auto;background-color: green;}
#L1 {height:auto;background-color: purple;}
#R1 {height:auto;background-color: blue;}
#L2 {height:auto;background-color: yellow;}
#R2 {height:auto;background-color: cyan;}

/* -- Row 2 -- */
#clock {
	height:auto;
	font-size: 35px;
}

#clock p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#date {
	font-size: 20px;
	padding-left: 4px;
}

#day {
	font-size: 22px;
	padding-left: 4px;
}

#time {
	margin-top: -10px;
}

#news {
	padding-top: 10px;
}

/* -- Row 1 -- */
#weather h3 {
	margin: 0.82rem 0 0.656rem 0;
}

#weather-icon {
	margin-top: 27px;
	font-size: 55px;
}

#calendar {
	height: auto;
	padding-bottom: 20px;
}

/* -- Custom Classes -- */
.Vcenter {
	display: flex;
    align-items: center;
    justify-content: center
}

.vertical-divider {
	border-left: 1px solid white;
	height: 75px;
}

.headline-padding  p{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.undefined {height: 100px; background-color: cyan;}

/* -- Overwritting Materialize CSS -- */