html {
	background-color: #000;
	color: #fff;
}

/* -- Row 1 -- */
#clock {
	height:75px;
	font-size: 35px;
}

#clock p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#date {
	font-size: 15px;
	word-wrap:none;
}

#notify {
	height: 75px;
}

/* -- Row 2 -- */
#weather {
	height: auto;
	padding-bottom: 20px;
}

#weather h3 {
	margin: 0.82rem 0 0.656rem 0;
}

#calendar {
	height: auto;
	padding-bottom: 20px;
}

/* -- Custom Classes -- */
.Vcenter {
	display: flex;
    align-items: center;
    justify-content: center
}

/* -- Overwritting Materialize CSS -- */

