html {
	background-color: #000;
	color: #fff;
}

#N1 {height:auto;background-color: ;}
#N2 {height:auto;background-color: ;}
#L1 {height:auto;background-color: ;}
#R1 {height:auto;background-color: ;}
#L2 {height:auto;color: ;}
#R2 {height:auto;background-color: ;}

/* -- Row 2 -- */
#clock {
	height:auto;
	font-size: 40px;
}

#clock p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#date {
	font-size: 20px;
	padding-left: 4px;
}

#day {
	font-size: 22px;
	padding-left: 4px;
}

#time {
	margin-top: -10px;
}

#news {
<<<<<<< HEAD
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 11px;
=======

>>>>>>> 7c0751d1809c8bbbc2685524e1c4a4399b3d9c7d
}

/* -- Row 1 -- */
#weather h3 {
	margin: 0.82rem 0 0.656rem 0;
}

#location {
	font-weight: 400;
}

#weather-icon {
	margin-top: 27px;
	font-size: 55px;
}

#weather {
	padding-bottom:20px;
}

#precipitation {
	padding-left: 4px;
}

#calendar {
	height: auto;
}

/* -- Custom Classes -- */
.Vcenter {
	display: flex;
    align-items: center;
    justify-content: center
}

.vertical-divider {
	border-left: 1px solid #d1d1d1;
	height: 100px;
}

.headline-padding  p{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.undefined {height: 100px; background-color: cyan;}

/* -- Overwritting Materialize CSS -- */
