html {
	background-color: #000;
	color: #fff;
	font-family: Roboto;
}

#N1 {height:auto;}
#N2 {height:auto;}
#L1 {height:auto;}
#R1 {height:auto;}
#L2 {height:auto;}
#R2 {height:auto;}
#B1 {height:auto;}

/* -- Row 2 -- */
#clock {
	height:auto;
	font-size: 55px;
	float: left;
}

#clock p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#date {
	font-size: 20px;
	padding-left: 4px;
}

#day {
	font-size: 20px;
	padding-left: 4px;
}

#time {
	margin-top: -10px;
}

#news {
	font-size: 15px;
}

ul li {
	padding-bottom: 7px;
	padding-left: 7px;
}

#location {
	font-size: 1.3rem;
}

#weather h3 {
	margin: 0.82rem 0 0.656rem 0;
}

#location {
	font-weight: 400;
}

#weather-icon {
	margin-top: 27px;
	font-size: 55px;
}

#weather {
	/*padding-bottom:20px;*/
}

#precipitation {
	padding-left: 4px;
}

#calendar {
	height: auto;
}

.twitimg {float: left;padding-right: 10px;padding-top: 3px;}
.tweet {
	padding-bottom: 0px;padding-top: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
  border-top: 1px solid #a7a7a7;
	border-radius: 10px;
	background: white;
	color:black;
}
.heart {margin-left: 10px;}
/* -- Custom Classes -- */
.Vcenter {
	display: flex;
    align-items: center;
    justify-content: center
}

.vertical-divider {
	border-left: 1px solid #d1d1d1;
	height: 100px;
}

.headline-padding p{
 	margin: 0px 0px 8px 10px;
	text-align: left;
}

.head-icon {
	margin-top: 3px;
}

.undefined {height: 100px; background-color: cyan;}

/* -- Overwritting Materialize CSS -- */
